.alreadyUser {
  position: relative;
  z-index: 0;
  width: 85%;
  text-align: center;
  background-image: linear-gradient(to right,
      #490cb0,
      white 50%,
      #490cb0);
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: 0 center;
}

.alreadyUser::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  z-index: -1;
}
.textLogin,
.alreadyUser {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.titleLogin{
  color: #490cb0;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

.login {
  font-weight: 600;
  color: #490cb0;
}

.input {
  text-indent: 10px;
}

