.titlePosition {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  width: fit-content;
}

.titleCompany {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  margin: 0 0 20px;
}

.textDescription,
.textInfoJobs{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.textDescription {
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textInfoJobs {
  margin: 0;
}

.linkToBack {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-bottom: 30px;
}

.linkToBack h2 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}