.languages-container {
  display: flex;
  justify-content: space-around;
}

.languages-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.languages-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  border: 2px solid;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-image-slice: 1;
  border-radius: 6px;
  background-color: #222435e6;
}

.languages-header p {
  text-transform: capitalize;
}

.framework-col,
.language-col {
  justify-content: space-between;
  width: 100%;
  max-width: 45%;
  margin: 10px auto;
}

@media (max-width: 1024) {

}